{% extends 'main/layout.html' %}
{% block content %}
    <h1>Распределение сотрудников</h1>
    <hr>
    <a class="btn btn-primary" href="{% url 'create_distribution' %}">Добавить данные</a>
    <br>
    <br>
<div class="table-responsive">
<table class="table table-striped">
<tr>
    <th>Название дисциплины</th>
    <th>Сотрудник</th>
    <th>Группа</th>
    <th>Изменение данных</th>
    <th>Удаление данных</th>
</tr>
        {% for distribution in distribution %}
        <tr>
        {% if distribution.fk_employee.first_name %}

            {{ distribution.fk_employee.first_name }}
            {{ distribution.fk_employee.last_name }}

            {{ distribution.fk_employee.lastname }}
            {% else %}
            {{ distribution.fk_discipline.user.username }}
        {% endif %}

        <td>{{ distribution.fk_discipline }}</td>
        <td>{{ distribution.fk_employee }}</td>
        <td>{{ distribution.fk_group_name }}</td>
        <td><a href="{% url 'update_distribution' distribution.id %}">Изменить</a> </td>
        <td><a href="{% url 'delete_distribution' distribution.id %}">Удалить</a> </td>
        </tr>
        {% endfor %}
    </table>
</div>
            {% endblock content %}