{% extends 'main/layout.html' %}
{% block content %}
    <h1>Дневник</h1>
    <hr>
    <br>

    <br>

<table class="table table-striped">
    <th>Преподаватель</th>
    <th>Студенты</th>
    <th>Название дз</th>
    <th>Оценки</th>

</tr>
   <tr>
        {% for homework_check in homework_check %}

<th>{% if homework_check.fk_employee.first_name %}

            {{ homework_check.fk_employee.first_name }}
            {{ homework_check.fk_employee.last_name }}

            {{ homework_check.fk_employee.lastname }}
            {% else %}
            {{ homework_check.fk_homework.user.username }}
        {% endif %}
</th>
            <th>{{ homework_check.fk_student.all|join:", " }}</th>
            <th>{{ homework_check.fk_homework|join:", " }}</th>
             <th>{{ homework_check.assessment|join:", " }}</th>


  </tr>
        {% endfor %}

    </table>
            {% endblock content %}
