{% extends 'main/layout.html' %}



{% block content %}
    <h1>Проверка домашней работы</h1>
    <hr>
    <a class="btn btn-primary" href="{% url 'create_homework_check' %}">Добавить данные</a>
    <br>
    <br>
<div class="table-responsive">
<table class="table table-striped">
<tr>
    <th>Оценка</th>
    <th></th>
    <th>Домашняя работа</th>
    <th>Студент</th>
    <th>Изменение данных</th>
    <th>Удаление данных</th>

</tr>
        {% for homework_check in homework_check %}
        <tr>
        <td>
            {{ homework_check.assessment }}
        </td>
        <td> {% if homework_check.fk_employee.first_name %}

            {{ homework_check.fk_employee.first_name }}
            {{ homework_check.fk_employee.last_name }}

            {{ homework_check.fk_employee.lastname }}
            {% else %}
            {{ homework_check.fk_homework.user.username }}
        {% endif %}
        </td>
        <td>{{ homework_check.fk_homework }}</td>
        <td>{{ homework_check.fk_student.all|join:", " }}</td>
         <td><a href="{% url 'update_homework_check' homework_check.id %}">Изменить</a> </td>
         <td><a href="{% url 'delete_homework_check' homework_check.id %}">Удалить</a> </td>
        </tr>
        {% endfor %}

    </table>
</div>
            {% endblock content %}