{% extends 'main/layout.html' %}
{% block content %}
{% load crispy_forms_tags %}
    <h1>Посещаемость</h1>

    <div class="row">
        <div class="col">
            <div class="card card-body">
                <div style='text-align:left; '>
                <form method="get">
                    {{ myattendanceFilter.form.as_p }}
                    <hr>
                <button class="btn btn-primary" type="submit">Поиск</button>
</form>
            </div>
                </div>
                    </div>
                        </div>
    <br>
    <a class="btn btn-primary" href="{% url 'create_attendance' %}">Добавить данные</a> <a href="{% url 'export_excel-attendance' %}" class="btn btn-primary">Excel</a>
    <hr>
<div class="table-responsive">
<table class="table table-striped">
<tr>
    <th>Студент</th>
    <th>Дисциплина</th>
    <th>Дата проведения занятия</th>
    <th>Посещение</th>
    <th>Изменение данных</th>
    <th>Удаление данных</th>
</tr>
        {% for attendance in myattendanceFilter.qs %}
        <tr>
        <td>{{ attendance.fk_student.all|join:", "  }}</td>
        <td>{{ attendance.fk_discipline }}</td>
        <td>{{ attendance.date_of_visit }}</td>
        <td>{{ attendance.presence }}</td>
        <td><a href="{% url 'update_attendance' attendance.id %}">Изменить</a> </td>
        <td><a href="{% url 'delete_attendance' attendance.id %}">Удалить</a> </td>
        </tr>
        {% endfor %}
    </table>
</div>
            {% endblock content %}